
.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  
  .main_nav a {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
  }
  
  .main_nav a.router_link_exact_active {
    /*color: #42b983;*/
  }
  
  .main_nav_item {
    display: flex;
    text-decoration: none;
    margin-right: 0.5rem;
    align-items: center;
    text-decoration: none;
  }
  
  .main_nav_item:hover {
    /*text-decoration: underline;*/
  }
  
  .main_nav_logo {
    display: flex;
    align-items: center;
  }
  
  .main_nav_logo_image {
    max-width: 100%;
    width: 200px;
  }
  .iconUser {
    width: 24px;
    height: 24px;
  }
  .signIn {
    display: flex;
    flex-direction: row;
  }
  .icon_off {
    display: none;
  }
  .icon_logout {
    display: block;
    width: 24px;
    height: 24px;

  }
  .raw {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
